<!DOCTYPE html>
<html>
<body>
    <h1>Listagem de produto</h1>
    <table border="1px" name="produtos">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < lista.length; i++){%>
                <tr>
                    <td><%=lista[i].id%></td>
                    <td><%=lista[i].titulo%></td>
                    <td><%=lista[i].descricao%></td>
                    <td><%=lista[i].preco%></td>
                    <td>
                        <input type="button" value="delete" onclick="javascript:remove(this,<%=lista[i].id%>);" />
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <br />
    <a href="http://localhost:3000/produtos/novo">Novo produto</a>
</body>
<script type="text/javascript">

    function remove(btn, id) {
        ajaxFunction('produtos/'+id,'DELETE', (data) => {
            if (!data.err){
                var row = btn.parentNode.parentNode;
                row.parentNode.removeChild(row);
            } else {
                alert('Erro ao excluir registro: (' + data.err + ')');
            }
        });
    }

    function ajaxFunction(url, httpMethod, callback) {
       var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                console.log(xhttp.responseText);
                var jsonParse = JSON.parse(xhttp.responseText);
                if (jsonParse){
                    callback(jsonParse);
                }
            }
        }
        xhttp.open(httpMethod, url, true);
        xhttp.send();
    }

</script>
</html>